<div class="bg-white rounded-3xl shadow p-10 w-full max-w-5xl mx-auto">

  <div class="flex justify-center border-b-2 pb-4">
    <h3 class="text-2xl font-semibold">Utilisateurs existants</h3>
  </div>

  <div class="flex items-center justify-between pt-5 pb-5">
    <button type="button" class="bg-blue-200 text-blue-900 px-4 py-2 rounded-full font-bold hover:bg-[#8fc2ff] cursor-pointer">
      Créer un compte
      <i class="fa-solid fa-plus"></i>
    </button>
    <button type="button" class="bg-gray-200 px-4 py-2 rounded-full font-semibold hover:bg-[#afb1b6] cursor-pointer">
      Filtrer
      <i class="fa-solid fa-filter"></i>
    </button>
  </div>

  <table class="w-full mt-5">
    <thead>
      <tr>
        <th class="border-b border-b-zinc-950/10 px-4 py-2 font-medium first:pl-(--gutter,--spacing(2)) last:pr-(--gutter,--spacing(2)) dark:border-b-white/10 sm:first:pl-1 sm:last:pr-1">Nom</th>
        <th class="border-b border-b-zinc-950/10 px-4 py-2 font-medium first:pl-(--gutter,--spacing(2)) last:pr-(--gutter,--spacing(2)) dark:border-b-white/10 sm:first:pl-1 sm:last:pr-1">Rôles</th>
        <th class="border-b border-b-zinc-950/10 px-4 py-2 font-medium first:pl-(--gutter,--spacing(2)) last:pr-(--gutter,--spacing(2)) dark:border-b-white/10 sm:first:pl-1 sm:last:pr-1">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of tabUsers(); track $index) {
        <tr class="even:bg-gray-100 text-center hover:bg-gray-50 transition">
          <td class="px-4 py-4 font-semibold text-lg">
            {{user.firstname}} {{user.lastname}}
          </td>

          <td class="px-4 py-4">
            <div class="flex flex-wrap gap-2 justify-center">
              <!--          <span-->
              <!--            *ngFor="let role of user.roles"-->
              <!--            class="px-3 py-1 rounded-full text-sm bg-blue-200-->
              <!--                   truncate max-w-[140px]"-->
              <!--            [title]="role"-->
              <!--          >-->
              <!--            {{ role }}-->
              <span class="px-3 py-1 rounded-full text-sm bg-purple-200">
            responsable pédagogique
          </span>
              <span class="px-3 py-1 rounded-full text-sm bg-cyan-200">
            responsable formation
          </span>
              <span class="px-3 py-1 rounded-full text-sm bg-blue-200">
            enseignant
          </span>
            </div>
          </td>

          <td class="px-4 py-4">
            <div class="flex justify-end gap-3">
              <button class="p-2 bg-gray-200 rounded hover:bg-gray-300">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button class="p-2 bg-black text-white rounded hover:bg-zinc-800">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      }

    </tbody>
  </table>
</div>
