<header class="w-full h-16 bg-white border-b border-gray-200 flex items-center justify-between px-6">

  <div>
    <h1 class="text-xl font-semibold text-gray-900 pl-6">{{ title() }}</h1>
  </div>

  <div class="flex items-center space-x-6">

    <button class="hover:text-gray-700 transition">
      <i class="fa-regular fa-bell text-xl"></i>
    </button>

    <div class="flex items-center space-x-3">
      <div class="text-right">
        <p class="text-sm font-medium text-gray-900">Louis Martin</p>
        <p class="text-xs text-gray-500">Enseignant</p>
      </div>
      <div class="h-10 w-10 bg-gray-200 border rounded-full"></div>
    </div>

    <button class="hover:text-gray-700 transition">
      <i class="fa-regular fa-arrow-right-from-bracket text-xl"></i>
    </button>
  </div>

</header>
