<div class="flex justify-center border rounded-3xl overflow-hidden">
    <table class="border-collapse bg-white min-w-4xl min-h-30">
        <colgroup>
            <col class="w-1/2">
            <col class="w-1/3">
            <col class="w-1/8">
        </colgroup>
        <tbody class="
        [&>tr:nth-child(n+3):nth-child(odd)]:bg-white 
        [&>tr:nth-child(n+3):nth-child(even)]:bg-blue-300
          [&>tr>td]:border-b
          [&>tr>td:first-child]:font-bold 
          [&>tr:nth-child(n+3)>td:first-child]:text-xl
          [&>tr:nth-child(n+3)>td]:text-center
          [&>tr:nth-child(n+3)>td:nth-child(n+2)]:text-[10px]
        ">

            <tr>
                <th class="italic text-3xl pb-1.5 pt-1.5" colspan="3"> Formations existantes </th>
            </tr> 
            <tr>
                <td class="" colspan="2"> 
                    <div class="p-3">
                         <button class="bg-gray-300 rounded-full p-1 pr-2.5 pl-3 pb-1.0 font-bold cursor-pointer text-sm"
                         routerLink="/education-manager/create">
                            Créer une formation <i class="fa-light fa-plus font-bold"></i>
                        </button> 
                    </div>
                 </td>
                <td class="text-center"> 
                    <div class="pt-3 pb-3"> 
                        <button class="bg-gray-300 rounded-full p-1 pr-4 pl-6 font-bold cursor-pointer text-sm"> 
                            Filtrer <i class="fa-light fa-filter font-bold pl-3"></i>
                        </button> 
                    </div> 
                </td>
            </tr>
            @for(ed of edManager.educationList(); track ed.id){
                <tr (click)="updateEducation(ed)" class="cursor-pointer">
                    <td> <div class="pt-3 pb-3"> {{ ed.name }} </div> </td>
                    <td> <div class="pt-3 pb-3"> {{ ed.description }} </div> </td>
                    <td> <div class="pt-3 pb-3"> <button class="bg-black w-6 h-6 rounded-sm" (click)="ed.id !== undefined && clickDelete(ed.id)"> <i class="fa-solid fa-trash text-white text-xs pt-0.5"></i> </button></div> </td>
                </tr>
             }
        </tbody>
    </table>
</div>
