<div class="flex justify-center border rounded-3xl overflow-hidden">
    <table class=" border-separate">
        <tbody class="
        [&>tr:nth-child(n+3):nth-child(odd)]:bg-white 
        [&>tr:nth-child(n+3):nth-child(even)]:bg-blue-300
          [&>tr>td]:border-b
        ">
            <tr>
                <th class="italic text-3xl" colspan="3"> Formations existantes </th>
            </tr> 
            <tr>
                <td class="" colspan="2"> <div class="p-3"> <button>Créer une formation</button> </div> </td>
                <td> <div class="p-3"> <button> Filtrer </button> </div> </td>
            </tr>
            <tr>
                <td> <div class="p-3"> Bachelor universitaire de technologie </div> </td>
                <td> <div class="p-3"> Formation initiale et en alternance </div> </td>
                <td> <div class="p-3"> </div> </td>
            </tr>
            <tr>
                <td> <div class="p-3"> Licence profesionnelle DEVOPS </div></td>
                <td> <div class="p-3"> Développeur d'Applications d'Entreprise, Administrateur de Systèmes d'Information </div></td>
                <td> <div class="p-3"> </div></td>
            </tr>
            <tr>
                <td> <div class="p-3"> Licence profesionnelle ESSIR </div> </td>
                <td> <div class="p-3"> Exploitation et Sécurité des Systèmes Informatiques et Réseaux </div> </td>
                <td> <div class="p-3"> </div></td>
            </tr>
        </tbody>
    </table>
</div>
